<!-- HERO SECTION -->
<div class="bg-white">
  <div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20">
    <div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
      <div class="px-6 lg:px-0 lg:pt-4">
        <div class="mx-auto max-w-2xl">
          <div class="max-w-lg">
            <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">LSA Paris</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
            <div class="mt-10 flex items-center gap-x-6">
              <a href="#" class="btn-primary">Nous contacter</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
        <div class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 md:-mr-20 lg:-mr-36" aria-hidden="true"></div>
        <div class="shadow-lg md:rounded-3xl">
          <div class="bg-indigo-500 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
            <div class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36" aria-hidden="true"></div>
            <div class="relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
              <div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
                <div class="w-screen overflow-hidden rounded-tl-xl bg-gray-900">
                  <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                    <div class="-mb-px flex text-sm font-medium leading-6 text-gray-400">
                      <div class="border-b border-r border-b-white/20 border-r-white/10 bg-white/5 px-4 py-2 text-white">NotificationSetting.jsx</div>
                      <div class="border-r border-gray-600/10 px-4 py-2">App.jsx</div>
                    </div>
                  </div>
                  <div class="px-6 pb-14 pt-6">
                    <!-- Your code example -->
                  </div>
                </div>
              </div>
              <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
  </div>
</div>

<!-- INTRO SECTION -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <p class="text-base font-semibold leading-7 text-indigo-600">Chaque dossier est unique</p>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nous savons que le votre est essentiel</h1>
      <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-2">
        <div>
          <p>Chatain Associés est un cabinet d’avocats indépendant, fondé à Paris en 2000, et présent à Bordeaux depuis 2020. Composée d’avocats aguerris, énergiques et réactifs, notre équipe s’investit au quotidien avec combativité.</p>
          <p class="mt-8">Parce que vous êtes unique, et que nous sommes nourris par la culture du résultat, nous vous proposons une approche personnalisée, basée sur l’écoute, la confiance et la compréhension de vos besoins. Pour vous apporter la meilleure solution, nous savons allier nos compétences avec créativité, innovation et remise en question. Partenaires fiables, nous vous accompagnons dans la durée en créant des relations solides avec vos équipes.</p>
        </div>
        <div>
          <p>Entreprises de toutes tailles, dont les associés et dirigeants, sociétés familiales, ETI, sociétés détenues par des fonds d’investissement, filiales de grands groupes, compagnies d’assurances et collectivités territoriales, nous travaillons avec vous et pour vous.</p>
          <p class="mt-8">Notre équipe intervient tout particulièrement en matière de contentieux commerciaux complexes, responsabilité civile, risques industriels et assurances, litiges entre actionnaires, contentieux sociaux sensibles, droit pénal des affaires, conformité anticorruption et droit public des affaires.</p>
        </div>
      </div>
      <div class="mt-10 flex">
        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Nous contacter</a>
      </div>
    </div>
  </div>
</div>

<!-- INCENTIVES SECTION -->
<div class="bg-gray-50">
  <div class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8">
      <div>
        <img src="https://tailwindui.com/img/ecommerce/icons/icon-delivery-light.svg" alt="" class="h-24 w-auto">
        <h3 class="mt-6 text-sm font-medium text-gray-900">Free Shipping</h3>
        <p class="mt-2 text-sm text-gray-500">It&#039;s not actually free we just price it into the products. Someone&#039;s paying for it, and it&#039;s not us.</p>
      </div>
      <div>
        <img src="https://tailwindui.com/img/ecommerce/icons/icon-chat-light.svg" alt="" class="h-24 w-auto">
        <h3 class="mt-6 text-sm font-medium text-gray-900">24/7 Customer Support</h3>
        <p class="mt-2 text-sm text-gray-500">Our AI chat widget is powered by a naive series of if/else statements. Guaranteed to irritate.</p>
      </div>
      <div>
        <img src="https://tailwindui.com/img/ecommerce/icons/icon-fast-checkout-light.svg" alt="" class="h-24 w-auto">
        <h3 class="mt-6 text-sm font-medium text-gray-900">Fast Shopping Cart</h3>
        <p class="mt-2 text-sm text-gray-500">Look how fast that cart is going. What does this mean for the actual experience? I don&#039;t know.</p>
      </div>
      <div>
        <img src="https://tailwindui.com/img/ecommerce/icons/icon-gift-card-light.svg" alt="" class="h-24 w-auto">
        <h3 class="mt-6 text-sm font-medium text-gray-900">Gift Cards</h3>
        <p class="mt-2 text-sm text-gray-500">Buy them for your friends, especially if they don&#039;t like our store. Free money for us, it&#039;s great.</p>
      </div>
    </div>
  </div>
</div>

<!-- IMAGE FULL SECTION -->
<img class="h-auto max-w-full" src="https://picsum.photos/1920/1080" alt="image description">

<!-- 2nd PARAGRAPH SECTION -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
      <p class="text-base font-semibold leading-7 text-indigo-600">Chaque dossier est unique</p>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nous savons que le votre est essentiel</h1>
      <div class="mt-10 grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-2">
        <div>
          <p>Chatain Associés est un cabinet d’avocats indépendant, fondé à Paris en 2000, et présent à Bordeaux depuis 2020. Composée d’avocats aguerris, énergiques et réactifs, notre équipe s’investit au quotidien avec combativité.</p>
          <p class="mt-8">Parce que vous êtes unique, et que nous sommes nourris par la culture du résultat, nous vous proposons une approche personnalisée, basée sur l’écoute, la confiance et la compréhension de vos besoins. Pour vous apporter la meilleure solution, nous savons allier nos compétences avec créativité, innovation et remise en question. Partenaires fiables, nous vous accompagnons dans la durée en créant des relations solides avec vos équipes.</p>
        </div>
        <div>
          <p>Entreprises de toutes tailles, dont les associés et dirigeants, sociétés familiales, ETI, sociétés détenues par des fonds d’investissement, filiales de grands groupes, compagnies d’assurances et collectivités territoriales, nous travaillons avec vous et pour vous.</p>
          <p class="mt-8">Notre équipe intervient tout particulièrement en matière de contentieux commerciaux complexes, responsabilité civile, risques industriels et assurances, litiges entre actionnaires, contentieux sociaux sensibles, droit pénal des affaires, conformité anticorruption et droit public des affaires.</p>
        </div>
      </div>
      <div class="mt-10 flex">
        <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Nous contacter</a>
      </div>
    </div>
  </div>
</div>

<!-- BLOG SECTION -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">From the blog</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Learn how to grow your business with our expert advice.</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="mt-8 flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
            <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
                Boost your conversion rate
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-10 w-10 rounded-full bg-gray-100">
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Michael Foster
                </a>
              </p>
              <p class="text-gray-600">Co-Founder / CTO</p>
            </div>
          </div>
        </div>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>


  <section id="first-section-homepage">
    <h1>1ère section</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>

  <section id="second-section-homepage">
    <h1>2e section</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </section>

  <section id="actus-homepage">
    <h1>Actus à la une</h1>
    <% @posts.each do |post| %>
      <%= link_to post_path(post), class: "text-decoration-none text-black" do %>
        <article class="d-flex my-3 gap-3">
          <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
          <div>
            <h2><%= post.category.upcase %></h2>
            <h4><%= post.date %></h4>
            <h3><%= post.title %></h3>
            <h5><strong><%= post.subtitle %></strong></h5>
            <%# Réduire le nombre de caractères de content pour ne pas avoir la fin ? Ou ajouter une colonne dans le model de Post pour la partie "Voir l'article rédigé par..."  ? %>
            <p><%= post.content %></p>
          </div>
        </article>
      <% end %>
    <% end %>

    <%= link_to "Voir toutes les actus", posts_path %>
  </section>

</main>
