<header>
  <h1 class="text-center">Un header avec des images et des liens ?</h1>
</header>

<main>
  <section id="first-section-homepage">
    <h1>1ère section</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>

  <section id="second-section-homepage">
    <h1>2e section</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </section>

  <section id="actus-homepage">
    <h1>Actus à la une</h1>
    <% @posts.each do |post| %>
    <%# @posts contient les 2 premiers posts -> je te laisse faire des cards %>
      <article class="d-flex my-3 gap-3">
        <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
        <div>
          <h2><%= post.category.upcase %></h2>
          <h4><%= post.date %></h4>
          <h3><%= post.title %></h3>
          <h5><strong><%= post.subtitle %></strong></h5>
          <%# Attention il n'y a pas toujours de subtitle dans un Post %>
          <p><%= post.content %></p>
        </div>
      </article>
    <% end %>

    <%= link_to "Voir toutes les actus", posts_path %>
  </section>


</main>
