<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Message envoyé à LSA PARIS</h4>
    <p>Nous vous confirmons le bon envoi de votre message à LSA PARIS.</p>
    <p>Rappel des informations envoyées :</p>
    <ul>
      <li>Prénom : <%= @contact.first_name.capitalize.strip %></li>
      <li>Nom : <%= @contact.last_name.upcase.strip %></li>
      <li>Fonction : <%= @contact.fonction.strip %></li>
      <li>Société : <%= @contact.firm.strip %></li>
      <li>Email : <%= @contact.email.strip %></li>
      <li>Téléphone : <%= @contact.phone.empty? ? "Non renseigné" : @contact.phone.strip %></li>
    </ul>
    <p>Objet du message : <%= @contact.subject.strip %></p>
    <p>Message :
      <br>
      <%= @contact.message.strip %>
    </p>
    <p>Merci de votre intérêt pour notre cabinet et à bientôt ! </p>
  </body>
</html>
