<% content_for :meta_title, "LSA PARIS - Conseil Contentieux Médiation Arbitrage - Actualités" %>
<% content_for :meta_description, "RODOLPHE : description Réseaux Sociaux pour la page Actualités" %>

<main>

  <section id="first-section-actus">
    <h1>Actualités</h1>

    <% if policy(Post).new? %>
      <%= link_to "Nouvelle actualité", new_post_path %>
    <% end %>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

  </section>

  <section id="filter-actus-categories">
    <%= link_to "TOUS", posts_path %>
    <%= link_to "CLASSEMENTS", posts_path(catégorie: "classements") %>
    <%= link_to "Communiqués de presse".upcase, posts_path(catégorie: "communiqués") %>
    <%= link_to "Evénements".upcase, posts_path(catégorie: "événements") %>
    <%= link_to "PUBLICATIONS", posts_path(catégorie: "publications") %>
  </section>

  <section id="actus-categories">
    <% @posts.each do |post| %>
      <%= link_to post_path(post), class: "text-decoration-none text-black" do %>
        <article class="d-flex my-3 gap-3">
          <%= cl_image_tag post.photo.key, height: 300, width: 400, crop: :fill %>
          <div>
            <h2><%= post.category.upcase %></h2>
            <h4><%= post.date %></h4>
            <h3><%= post.title %></h3>
            <h5><strong><%= post.subtitle %></strong></h5>
            <%# Réduire le nombre de caractères de content pour ne pas avoir la fin ? Ou ajouter une colonne dans le model de Post pour la partie "Voir l'article rédigé par..."  ? %>
            <p><%= post.content %></p>
          </div>
        </article>
      <% end %>
    <% end %>
  </section>

</main>
