<h1>Contact</h1>

<h2>Formulaire de contact</h2>

<%= simple_form_for(@contact, url: "/contact", method: :post) do |f| %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :fonction, required: true %>
    <%= f.input :firm, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :phone %>
    <%= f.input :subject, required: true %>
    <%= f.input :message, required: true %>
    <%= f.submit "Envoyer" %>
<% end %>

<%# <%= simple_form_for(@contact, url: "/contact", method: :post) do |f| %>
    <%# <%= f.input :first_name, label: "Prénom", required: true %>
    <%# <%= f.input :last_name, label: "Nom", required: true %>
    <%# <%= f.input :fonction, label: "Fonction", required: true %>
    <%# <%= f.input :firm, label: "Société", required: true %>
    <%# <%= f.input :email, label: "Email", required: true %>
    <%# <%= f.input :phone, label: "Téléphone" %>
    <%# <%= f.input :subject, label: "Objet de la demande", required: true %>
    <%# <%= f.input :message, label: "Message", required: true %>
    <%# <%= f.submit "Envoyer" %>
<%# <% end %>
