<h1>Contact</h1>

<h2>Formulaire de contact</h2>

<%= simple_form_for(@contact, url: "/contact", method: :post) do |f| %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :fonction, required: true %>
    <%= f.input :firm, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :phone %>
    <%= f.input :subject, required: true %>
    <%= f.input :message, required: true %>

    <%= turbo_frame_tag 'recaptcha' do %>
      <div class="mb-3 row">
        <%= recaptcha_v3 action: 'message', site_key: ENV['RECAPTCHA_SITE_KEY'], turbolinks: true %>
      </div>
    <% end %>

    <%= f.submit "Envoyer" %>
<% end %>
